* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* Common or Shared Styles */
.text-primary{
    color: #FD6E0A;
}

.dark-02 {
    color: #474747;
}

.dark-03 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    cursor: pointer;
}

/* Google Fonts */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header Styles */
.header-container {
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* background-position: right top, left top;
    background-size: contain, cover; */
    background-position: top left, bottom right;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 1rem;
    margin: 0 200px;
}

/* nav h3 {
    color: #fff;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 0.5rem;
} */
.nav-title{
    /* color: #fff; */
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Banner Styles */
/* .banner-section {
    padding: 2rem;
    text-align: center;
} */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 35px 0 230px;
    gap: 2rem;
}

.banner-content {
    max-width: 1180px;
}

.banner-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-heading {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 2rem;
}

.banner-image {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
}
/* .banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
} */