/* Desktop-First Approach:- */

/* Base styles for desktop */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: fit-content;
}

/* Common or Shared Styles Start */
:root {
  --text-primary: #fd6e0a;
  --dark-01: #181818;
  --dark-02: #474747;
  --dark-03: #757575;
}

.text-center {
  text-align: center;
}

.secondary-bg {
  background-color: #fff8f3;
}

.text-primary {
  color: #fd6e0a;
}

.dark-01 {
  color: #181818;
}

.dark-02 {
  color: #474747;
}

.dark-03 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #e65c00;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  /* text-align: center; */
}

.section-description {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 40px;
}

/* Google Fonts */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Common or Shared Styles End */

/* Header Styles */
.header-container {
  /* background-image:
    url("../images/developer.png"), url(../images/header_bg.png); */
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  /* background-position: right top, left top;
    background-size: contain, cover; */
  background-position: bottom right;
  /* background-position:
    top left,
    bottom right; */
}

/* Navigation Styles Start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #333; */
  padding: 1rem;
  margin: 0 100px;
}

/* nav h3 {
    color: #fff;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 0.5rem;
} */
.nav-title {
  /* color: #fff; */
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fd6e0a;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}

/* Navigation Styles End */

/* Banner Styles Start */

/* .banner-section {
    padding: 2rem;
    text-align: center;
} */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 35px 0 120px;
  gap: 2rem;
}

.banner-content {
  max-width: 1180px;
}

.banner-title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 18px;
  margin-bottom: 2rem;
}

.banner-btns {
  display: flex;
  gap: 24px;
}

.banner-about-image {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 700px;
}
/* .banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
} */

.banner-counts{
  display: flex;
  gap: 24px;
}

.banner-count{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.banner-count h4{
  font-size: 30px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.banner-count p{
  font-size: 18px;
  color: var(--dark-03);
}

.banner-icons{
  display: flex;
  gap: 26px;
  font-size: 40px;
}

.banner-icons i{
  color: var(--dark-02);
  transition: color 0.3s ease;
}

.banner-icons a:hover i {
  color: var(--text-primary);
}

/* Banner Styles End */

/* main section styles */
.main-section {
  max-width: 1140px;
  margin: 0 auto;
}

main .section-container {
  padding: 130px 0;
}

/* about section styles */
.about-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 35px 0 120px;
  gap: 5rem;
}
.about {
  border-radius: 10px;
  /* padding: 130px 150px; */
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.about-section-title{
  margin-top: 180px;
}

.about-title-description {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: start;
}

.about-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.about-item .item-title {
  font-size: 20px;
}

.about-item .item-description {
  font-size: 20px;
  font-weight: 700;
}

/* skills section styles start */
.skills-description {
  margin: 0 auto 40px auto;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.skill {
  text-align: center;
  width: calc(33.33% - 24px);
  padding: 30px 33px;
  border-radius: 15px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill:hover {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.skill img {
  width: 60px;
  height: 60px;
}

.skill-title{  
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-01);
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-description{
  font-size: 16px;
  color: var(--dark-03);
  text-align: justify;
}
/* skills section styles end */

/* projects section styles start */
.resume-container {
  display: flex;
  gap: 24px;
}

.resume-title {
  margin-bottom: 83px;
}

.resume-column-title {
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-02);
  margin-bottom: 30px;
}

.experience-title {
  font-size: 25px;
  font-weight: 700;
  color: var(--dark-02);
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-03);
  margin: 10px 0px;
}

.experience-description {
  font-size: 16px;
  color: var(--dark-03);
}

.resume-column hr {
  margin: 30px 0;
}

.resume-download-btn {
  margin-top: 50px;
}
/* projects section styles end */

/* footer section styles start */
footer {
  background-color: var(--dark-02);
  display: flex;
  padding: 130px 230px;
}

.footer-column {
  width: 50%;
}

.footer-column h3 {
  color: var(--dark-01);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-column p {
  color: var(--dark-02);
  margin-top: 18px;
  margin-bottom: 32px;
}

.footer-icon {
  display: flex;
  gap: 24px;
}

footer input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--dark-03);
}
/* footer section styles end */













































/* Medium devices (laptops, 1024px and up) */
@media (max-width: 1024px) {
  /* Common or Shared Styles Start */
  .btn-primary {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
  }

  .section-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  /* text-align: center; */
}

.section-description {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 40px;
}
/* Common or Shared Styles End */

/* Navigation Styles Start */
nav {
  padding: 0.5rem;
}

.nav-title {
  font-size: 30px;
}

nav ul {
  gap: 16px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Navigation Styles End */

/* Banner Styles Start */
  .banner {
  margin: 0 35px 0 120px;
  gap: 2rem;
}

.banner-content {
  max-width: 1024px;
}

.banner-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-heading {
  font-size: 40px;
  margin-bottom: 16px;
}

.banner-description {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.banner-btns {
  gap: 16px;
}

.banner-image {
  max-width: 500px;
  max-height: 700px;
}

.banner-counts{
  display: flex;
  gap: 18px;
}

.banner-count{
  margin: 20px 0;
}

.banner-count h4{
  font-size: 22px;
}

.banner-count p{
  font-size: 14px;
}

.banner-icons{
  gap: 18px;
  font-size: 30px;
}
/* Banner Styles End */

}


























/* Tablets (up to 768px) */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
































/* Small phones (up to 480px) */
@media (max-width: 480px) {

  /* Common or Shared Styles Start */
  .btn-primary {
  font-size: 10px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
  /* Common or Shared Styles End */

  /* .container {
    padding: 10px;
  } */



  /* Header Styles */
  .header-container {
    background-image: url(../images/header_bg.png);
    background-position: bottom left;
  }

  /* Navigation Styles Start */
  nav {
    align-items: center;
    justify-content: center;
    /* background-color: #333; */
    padding: 1rem;
    margin: 0 100px;
  }

  /* nav h3 {
    color: #fff;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 0.5rem;
} */
  .nav-title {
    /* color: #fff; */
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 0rem;
    margin-right: 10px;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li a {
    font-size: 10px;
  }

  /* nav ul li a:hover {
    text-decoration: underline;

  } */

  /* Navigation Styles End */

  /* Banner Styles Start */

  /* .banner-section {
    padding: 2rem;
    text-align: center;
} */

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 35px 0 120px;
    gap: 2rem;
  }

  .banner-text {
    text-align: center;
  }

  .banner-content {
    text-align: center;
  }

  .banner-title {
    font-size: 20px;
  }

  .banner-heading {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .banner-description {
    font-size: 10px;
    margin-bottom: 1rem;
    max-width: 350px;
    text-align: center;
  }

  .banner-btns {
    justify-content: center;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 350px;
  }
  /* .banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
} */

.banner-counts{
  justify-content: center;
  gap: 15px;
}

.banner-count{
  margin: 30px 0;
}

.banner-count h4{
  font-size: 15px;
  margin-bottom: 10px;
}

.banner-count p{
  font-size: 10px;
}

.banner-icons{
  justify-content: center;
  gap: 15px;
  font-size: 25px;
}

  /* Banner Styles End */
}
