* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common or Shared Styles */
.text-primary{
    color: #FD6E0A;
}

.dark-02 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    cursor: pointer;
}

/* Google Fonts */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 1rem;
    margin: 0 200px;
}

/* nav h3 {
    color: #fff;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 0.5rem;
} */
.nav-title{
    /* color: #fff; */
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}